<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/card/card-styles.css">
</head>

<body>
    <div class="card">
        <div class="card-top">
            <div class="card-img-container">
                <a href="/api/images/1"><div class="card-img" onclick="display_image(this)"></div></a>
            </div>
            <div class="card-details">
                <p><b>Name: </b></p>
                <p><b>Breed: </b></p>
                <p><b>Age: </b></p>
                <p><b>BirthDate: </b></p>
                <p><b>Mother: </b></p>
                <p><b>Father: </b></p>
                <p><b>Owner: </b></p>
            </div>
        </div>

        <div class="card-buttons">
            <a href="/index.html"><button onclick="btn_back">Back</button></a>
            <a id="btn-edit"><button onclick="btn_back">Edit</button></a>
            <a id="btn-remove"><button>Remove</button></a>
        </div>
    </div>

    <script src="/js/card/card.js"> </script>
</body>

</html>