<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/card/card-styles.css">
</head>

<body>
    <div class="card">
        <div class="card-top">
            <div class="card-img-container">
                <a href="/api/images/1"><div class="card-img" onclick="display_image(this)"></div></a>
            </div>
            <div class="card-details">
                <p><b>Name: </b> Nazwa</p>
                <p><b>Breed: </b> Rasa</p>
                <p><b>Age: </b> Wiek</p>
                <p><b>BirthDate: </b> 2004-02-12</p>
                <p><b>Mother: </b> matka</p>
                <p><b>Father: </b> ojciec</p>
                <p><b>Owner: </b> user</p>
            </div>
        </div>

        <div class="card-buttons">
            <a href="/index.html"><button onclick="btn_back">Back</button></a>
            <a href="/cards/edit/1"><button onclick="btn_back">Edit</button></a>
            <a><button>Remove</button></a>
        </div>
    </div>

</body>

</html>